<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/body.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link href="/css/search.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=i7xm534ku0" type="text/javascript"></script>
    <title>Bootstrap demo</title>
</head>
<body>


<div th:insert="~{fragments/header :: header}"></div>
<script src="/js/researchFilter.js" defer></script>

<div class="main-container">

    <div class="map-container">
        <div id="map" th:attr="data-point-dto-list=${pointDtoList}"></div>
    </div>


    <div class="search-row-container">

        <div class="researchoption-container">
            <!-- Count Options -->
            <div class="totalCount-options">
                <label>
                    <strong>총 <span th:text="${totalResults} + '건'"></span>
                    </strong>
                </label>
            </div>

            <!-- Count Options -->
            <div class="count-options">
                <label>개수:</label>
                <input type="radio" id="count10" name="count" value="20" th:checked ="${pageSize == 20}">
                <label for="count10">20</label>
                <input type="radio" id="count30" name="count" value="30" th:checked ="${pageSize == 30}">
                <label for="count30">30</label>
                <input type="radio" id="count50" name="count" value="50" th:checked ="${pageSize == 50}">
                <label for="count50">50</label>
            </div>

            <!-- Sort Options -->
            <div class="sort-options">
                <label for="sortBy">정렬:</label>
                <select id="sortBy" class="sort-select">
                    <option value="point" th:selected="${sortField == 'point'}" >위치</option>
                    <option value="title.title_keyword" th:selected="${sortField == 'title.title_keyword'}">이름</option>
                </select>
                <!-- Buttons -->
                <div class="sort-buttons">

                    <!-- 오름차순 정렬 버튼 -->
                    <th:block th:if="${sortDirection == 'asc'}">
                        <button id="sortAsc" class="sort-button button-active" data-value="asc" >오름차순</button>
                    </th:block>
                    <th:block th:unless="${sortDirection == 'asc'}">
                        <button id="sortAsc"  class="sort-button" data-value="asc" disabled="true">오름차순</button>
                    </th:block>

                    <!-- 내림차순 정렬 버튼 -->
                    <th:block th:if="${sortDirection == 'desc'}">
                        <button id="sortDesc"  class="sort-button button-active" data-value="desc" >내림차순</button>
                    </th:block>
                    <th:block th:unless="${sortDirection == 'desc'}">
                        <button id="sortDesc"  class="sort-button" data-value="desc" disabled="true">내림차순</button>
                    </th:block>





<!--                    <button id="sortAsc" class="sort-button" data-value="asc" disabled="true">내림차순</button>-->
<!--                    <button id="sortDesc" class="sort-button" data-value="desc" disabled="true">오름차순</button>-->
                </div>
            </div>

            <!-- OptionSend -->
            <div class="optionsend-buttons">
                <button id="adjustButton" class="adjust-button">적용</button>
                <button id="resetButton" class="reset-button">초기화</button>
            </div>
        </div>


        <div class="scroll-container">
                <div class="search-item" th:each="TourInfoDto: ${TourInfoDtoList}">
                    <div class="img-container">
                        <img class="searchResultImg" src="/img/test.jpg">
                    </div>

                <div class="rightinfo-container">
                    <a th:href="@{/tour/detail/{tourId}(tourId=${TourInfoDto.TourInfo.id})}">
                        <div class="rightinfo">
                            <span class="col">이름: </span>
                            <span class="Text" style="color:#0D6EFD" th:text="${TourInfoDto.TourInfo.title}">장금이</span>
                        </div>
                    </a>
                    <div class="rightinfo">
                        <span class="col">주소: </span>
                        <span class="Text" th:if="${#strings.isEmpty(TourInfoDto.tourInfo.address)}">주소 없음</span>
                        <span class="Text" th:if="${!#strings.isEmpty(TourInfoDto.tourInfo.address)}" th:text="${TourInfoDto.tourInfo.address}"></span>
                    </div>
                    <div class="rightinfo">
                        <span class="col">카테고리: </span>
                        <span class="Text" th:text="${TourInfoDto.TourInfo.category}">장금이</span>
                    </div>
                </div>


                <div class="leftinfo-container">
                    <div class="leftinfo">
                        <span class="col">이용시간: </span>
                        <span class="Text" th:text="${TourInfoDto.TourInfo.openTime}">11:00~21:00 (브레이크타임 15:00~17:00 / 라스트오더 19:30)</span>
                    </div>
                    <div class="leftinfo">
                        <span class="col">상세정보: </span>
                        <span class="Text" th:if="${#strings.isEmpty(TourInfoDto.tourInfo.detailInfo)}">상세개요 없음</span>
                        <span class="Text" th:if="${!#strings.isEmpty(TourInfoDto.tourInfo.detailInfo)}" th:text="${TourInfoDto.tourInfo.detailInfo}"></span>
                    </div>
                    <div class="leftinfo">
                        <span class="col">개요: </span>
                        <span class="Text" th:text="${TourInfoDto.TourInfo.summary}">...</span>
                    </div>
                </div>
            </div>
            </div>

        <!-- pagination -->
        <ul class="pagination justify-content-center my-4">

            <!-- First Page Link -->
            <li class="page-item" th:if="${totalPages > 10}">
                <a class="page-link" th:if="${session.currentTourinfoPage == 1}">
                    <img src="/img/firstprevious.png" style="width:1vw;">
                </a>

                <a class="page-link" th:href="@{/tour/list(p=1,rc=${pageSize} , c=${category}, a=${address}, k=${keyword}, sf=${sortField}, sd=${sortDirection})}"
                   th:if="${session.currentTourinfoPage > 1}">
                    <img src="/img/firstprevious.png" style="width:1vw;">
                </a>
            </li>


            <!-- Previous Page Link -->
            <li class="page-item" th:if="${totalPages > 1 }">
                <a class="page-link" th:if="${session.currentTourinfoPage == 1}">
                    <img src="/img/previous.png" style="width:1vw;">
                </a>

                <a class="page-link" th:href="@{/tour/list(p=${session.currentTourinfoPage - 1}, rc=${pageSize} , c=${category}, a=${address}, k=${keyword}, sf=${sortField}, sd=${sortDirection})}"
                   th:if="${session.currentTourinfoPage > 1}">
                    <img src="/img/previous.png" style="width:1vw;">
                </a>
            </li>


            <!-- Page Number Links -->
            <th:block th:each="page : ${pageList}">
                <li class="page-item" th:classappend="${page == session.currentTourinfoPage} ? ' active' : ''">
                    <a class="page-link"
                       th:href="@{/tour/list(p=${page},rc=${pageSize} ,c=${category},a=${address},k=${keyword},sf=${sortField},sd=${sortDirection})}">
                        [[${page}]]
                    </a>
                </li>
            </th:block>



            <!-- Next Page Link -->
            <li class="page-item" th:if="${totalPages > 1}">
                <a class="page-link" th:if="${session.currentTourinfoPage == totalPages}">
                    <img src="/img/next.png" style="width:1vw;">
                </a>
                <a class="page-link" th:href="@{/tour/list(p=${session.currentTourinfoPage + 1}, rc=${pageSize} ,c=${category}, a=${address}, k=${keyword}, sf=${sortField}, sd=${sortDirection})}"
                   th:if="${session.currentTourinfoPage < totalPages}">
                    <img src="/img/next.png" style="width:1vw;">
                </a>
            </li>

            <!-- Last Page Link -->
            <li class="page-item" th:if="${totalPages > 10}">

                <a class="page-link" th:if="${session.currentTourinfoPage == totalPages}">
                    <img src="/img/lastnext.png" style="width:1vw;">
                </a>
                <a class="page-link" th:href="@{/tour/list(p=${totalPages}, rc=${pageSize} ,c=${category}, a=${address}, k=${keyword}, sf=${sortField}, sd=${sortDirection})}"
                   th:if="${session.currentTourinfoPage < totalPages}">
                    <img src="/img/lastnext.png" style="width:1vw;">
                </a>
            </li>
        </ul>
    </div>

</div>


<div th:insert="~{fragments/footer :: footer}"></div>

</body>
<!-- 외부 JS 파일 로드 -->
<script src="/js/createCircle.js"  type="text/javascript"></script>
</html>
