<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/body.css" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css" />
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <title>비밀번호 변경</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="center-container" >
<div class="container" id="container">
    <h2>비밀번호 변경</h2>
    <div class="form-container">
        <form id="updateForm" action="/user/update/password" method="post" enctype="multipart/form-data">
            <div class="side-by-side-container">
                <div class="image-container">
                    <img id="user-profile-image" th:src="${user.userImgUri != null ? user.userImgUri : '/img/default-user-img.webp'}" alt="사용자 이미지" />
                </div>
                <div class = "id-nickname-file-container" >
                    <br> <br><br>
                    <div class="info-box">
                        <input type="hidden" name="user_id" th:value="${user.userId}" />
                        <input type="text" th:value="${user.userId}" disabled>
                        <input type="text" id="user_nickname" name="user_nickname" th:value="${user.userNickname}" disabled>
                        <input type="password" id="pwd" name="pwd" placeholder="패스워드" />
                        <input type="password" id="pwd2" name="pwd2" placeholder="패스워드 확인" />
                        <div id="passwordMatchMessage"></div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button class="ghost" id="update" >비밀번호 수정</button>
            </div>
        </form>
    </div>
</div>
</div>
<div id="successModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; border: 1px solid #ccc; padding: 20px; z-index: 1000;">
    <p id="successMessage"></p>
</div>
<script src="/js/passwordCheck.js"></script>
<script src="/js/formSuccess.js"></script>
<script>
    let isPasswordValid = false;
    function updateButtonState() {
        const updateButton = document.getElementById("update");
        const allValid = isPasswordValid

        updateButton.disabled = !allValid;
    }
    document.addEventListener("DOMContentLoaded", function () {

        initializePasswordCheck("pwd", "pwd2", "passwordMatchMessage", (valid) => {
            isPasswordValid = valid;
            updateButtonState();
        });

    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // formSuccess.js에서 정의된 handleFormSubmit 함수 호출
        handleFormSubmit(
            "#updateForm", // 폼 선택자
            "/user/login", // 성공 시 리다이렉션 URL
            "비밀번호 변경" // 메시지의 기본 이름
        );
    });
</script>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>