<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/body.css" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css" />
    <link th:href="@{/css/footer.css}" rel="stylesheet">


    <title>회원정보</title>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<div class="center-container" >
                isNicknameValid = valid;
                updateButtonState(); // 상태 업데이트
            });

            initializeCategories("categories-container", "warning", 5, 3, (valid) => {
                isCategoryValid = valid;
                updateButtonState(); // 상태 업데이트
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            // formSuccess.js에서 정의된 handleFormSubmit 함수 호출
            handleFormSubmit(
                "#updateForm", // 폼 선택자
                "/tour/main", // 성공 시 리다이렉션 URL
                "회원정보 수정" // 메시지의 기본 이름
            );
        });
    </script>
</body>
</html>