<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tourService Footer</title>
    <style>
    </style>
</head>

<body>
<div th:fragment="header">
<nav class="header-navbar">
    <img src="\img\logo.png" style="width: 10vw; height: 8vh; position: absolute; left: 2vw; top: 1vh;">

    <div class="search-container">

        <select th:name="region" th:id="region" class="region" title="지역을 선택하세요">
            <option value="" disabled selected>지역</option>
            <option value="전체">전체</option>
            <option value="강원">강원</option>
            <option value="경기">경기</option>
            <option value="경상남도">경상남도</option>
            <option value="경상북도">경상북도</option>
            <option value="광주">광주</option>
            <option value="대구">대구</option>
            <option value="대전">대전</option>
            <option value="부산">부산</option>
            <option value="서울">서울</option>
            <option value="인천">인천</option>
            <option value="전라남도">전라남도</option>
            <option value="전라북도">전라북도</option>
            <option value="제주">제주</option>
            <option value="충청남도">충청남도</option>
            <option value="충청북도">충청북도</option>
        </select>


        <select th:name="category" th:id="category" class="category" title="카테고리를 선택하세요">
            <option value="" disabled selected>카테고리</option>
            <option value="전체">전체</option>
            <option value="레포츠">레포츠</option>
            <option value="관광지">관광지</option>
            <option value="음식점">음식점</option>
            <option value="문화시설">문화시설</option>
            <option value="축제공연행사">축제공연행사</option>
            <option value="쇼핑">쇼핑</option>
        </select>

        <input type="text" th:name="keyword" th:id="keyword" placeholder="검색어를 입력하세요">
        <button type="submit">검색</button>
    </div>



    <div class="navbar-info">

        <a href="/user/info/"><span>
                    <span>사용자 정보</span></span></a>
        <a href="#">
            <div class="secondBox">
                <span>로그아웃</span>
            </div>
        </a>
    </div>
</nav>
</div>
</body>
</html>