body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    background-color: white;
    padding: 20px;
    margin: 0 auto; /* 가운데 정렬 */
    max-width: 1200px; /* 최대 너비 설정 */
    width: 55%; /* 양쪽에 여백을 줌 */
    margin-top: 30px;
}

.section {
    margin-bottom: 30px;
    text-align: center;
}

.section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

.list {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.list-item {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    position: static;
}

.list-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.category-item {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    position: static;
}

.category-item img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.category-item p.category-name {
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100px;
    margin-left: 15px;
}

.nearby-list-item img {
    border-radius: 10px;
}

.popular-item img {
    border-radius: 50%;
}

p.tour-address {
    font-size: small;
}
